absl-py
aiohttp
async-timeout==3.0.1
attrs
beautifulsoup4
blinker==1.4
brotlipy==0.7.0
cachetools
certifi==2020.12.5
cffi
chardet
click==7.1.2
cryptography
filelock
fsspec
future
google-auth
google-auth-oauthlib==0.4.1
grpcio
idna
importlib-metadata
joblib
Markdown
mkl
multidict
numpy
oauthlib==3.0.1
packaging
pandas
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser
PyJWT==1.7.1
pyOpenSSL
pyparsing==2.4.7
PySocks
python-dateutil==2.8.1
pytorch-lightning
pytz
PyYAML==5.3.1
regex
requests
requests-oauthlib
rsa
sacremoses
selenium==3.141.0
six
soupsieve==2.0.1
tensorboard
tensorboard-plugin-wit
tokenizers
torch
tqdm
transformers
typing-extensions
urllib3
Werkzeug==1.0.1
win-inet-pton
wincertstore==0.2
yarl
zipp
